/* цвет основного текста #212121 */
/* вторичный цвет #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* доп цвет rgba(255, 255, 255, 0.6) */

:root {
    --primary-text-color: #212121;
    --footer-bg-color: #2F303A;
    --title-text-color: #757575;
    --accent-text-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --item-br-color: #EEEEEE;
    --btn-hover-color: #188CE8;
    --icon-bg-features-color: #F5F4FA;
    --icon-fill: #AFB1B8;
    --icon-hover: #FFFFFF;
    --overlay-color: rgba(0, 0, 0, 0.2);
    --font-body: 'Roboto', 'sans-serif';
}